@media (min-width: 40em) { /* 40 × 16px = 640px */
	.grid {
		margin: 0 -0.75em;
	}
	[class*="col__"] {
		display: inline-block;
		padding: 0 0.75em;
		vertical-align: top;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box; /* Enables the use of padding without breaking the grid */
	}
	.grid[class*="col__"] {
		margin: 0;
		padding: 0;
	}
	.col__10  { width: 10%; }
	.col__20  { width: 20%; }
	.col__25  { width: 25%; }
	.col__30  { width: 30%; }
	.col__33  { width: 33%; }
	.col__40  { width: 40%; }
	.col__50  { width: 50%; }
	.col__60  { width: 60%; }
	.col__67  { width: 67%; }
	.col__70  { width: 70%; }
	.col__75  { width: 75%; }
	.col__80  { width: 80%; }
	.col__100 { width: 100%; }
}
