@charset"utf-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #FBF6E0;
  background: #5A6D73 url("../img/stardust.png") fixed;
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  display: inline-block;
}
a {
  text-decoration: underline;
  color: #E9E3CA;
}
h2, h3 {
  font-size: 2em;
  font-weight: 300;
}
/*CONTENT WRAPPER*/

.page-content {
  /*max-width: 1080px;*/

margin: 2em auto;
  padding: 2em;
}
/*HEADER*/

.site-menu a {
  color: #E9E3CA;
}
header {
  color: #FBF6E0;
}
.site-menu {
  background-color: rgba(58, 57, 62, 0.6);
}
.me {
  max-width: 150px;
  border-radius: 100%;
  border: 10px solid #FBF6E0;
}
/*CONTENT*/

.page-content {
  background-color: rgba(58, 57, 62, 0.6);
}
/*BLOG*/

.post {
  text-align: left;
}
.post-title {
  margin-bottom: 0.3em;
}
/*FOOTER*/

.site-footer {
  margin-top: 3em;
  font-size: 0.9em;
  line-height: 1.5em;
}
/*Font awesome icons*/

.fa {
  color: #333;
  font-size: 4em;
  margin-right: 0.5em;
}
.fa {
  text-decoration: none;
}