/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* <GRID SYSTEM> */
@media (min-width: 45em) { /* 45 × 16px = 720px */
	.grid {
		margin: 0 -0.75em;
	}
	[class*="col__"] {
		display: inline-block;
		padding: 0 0.75em;
		vertical-align: top;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box; /* Enables the use of padding without breaking the grid */
	}
	.grid[class*="col__"] {
		margin: 0;
		padding: 0;
	}
	.col__10  { width: 10%; }
	.col__20  { width: 20%; }
	.col__25  { width: 25%; }
	.col__30  { width: 30%; }
	.col__33  { width: 33%; }
	.col__40  { width: 40%; }
	.col__50  { width: 50%; }
	.col__60  { width: 60%; }
	.col__67  { width: 67%; }
	.col__70  { width: 70%; }
	.col__75  { width: 75%; }
	.col__80  { width: 80%; }
	.col__100 { width: 100%; }
}
/* </GRID SYSTEM> */

body, input, textarea {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8em;
  color: #888;
  font-weight: 300;
}
body {
  background-color: #252427;
  color: #fff;
  text-align: center;
  min-width: 360px;
}
#wrapper-page {
  max-width: 1280px;
  margin: 0 auto;
}
a {
  color: #b7e5ff;
  text-decoration: underline;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
a:hover {
  color: #929199 !important;
}
a img {
  border: 0;
}
strong, b {
  font-weight: 600;
  color: #fafafa;
}
h1, h2 {
  color: #f5f5f5;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-weight: 300;
}
h1 {
  font-size: 1.8em;
  margin-top: 0.35em;
  margin-bottom: 0.5em;
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2em;
}
h3 {
  font-size: 1.5em;
  color: #ccc;
  margin: 1em 0;
}
h4 {
  font-weight: 700;
}
em, i {
  font-style: italic;
}
/*One line space b/w paragraphs*/

p {
  margin-bottom: 1em;
}

/* Buttons */

.button {
  display: inline-block;
  margin-top: 0.5em;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #64636b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -moz-transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  -ms-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.button:hover {
  color: inherit !important;
  background: #929199;
  text-decoration: none;
}

/* Nav *****************************************************    */

/*MENU*/

#nav {
  background-color: #282828;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  cursor: default;
}
#nav ul {
  margin-bottom: 0;
}
#nav li {
  display: inline-block;
  -moz-transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  -ms-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
#nav li:hover {
  background-color: #929199;
}
#nav a {
  display: block;
  position: relative;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
#nav a:hover {
  color: inherit !important;
}
/*Responsive menu icon*/
.show-menu {
	display: none;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -moz-transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  -ms-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
.show-menu:hover {
  background-color: #929199;
}
/*Hide checkbox on menu icon*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Sections that will be navigable, keeps a proper top padding for menu*/
.nav-section {
  padding: 4em 0;
}

/* Top, presentation *****************************************************   */

body {
  background: #444349 url('../images/stardust.png') fixed repeat;
}
#top div {
  vertical-align: middle;
}
#top p {
  color: inherit;
  font-size: 1.2em;
  line-height: 1.75em;
}
#me {
  text-align: right;
}
#me img {
  margin: 0 auto 0 auto;
  border-radius: 100%;
  width: 200px;
}
#presentation {
  text-align: left;
}

.font-icon {
  font-size: 6em !important;
}

/* Works *****************************************************  */
#works {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
#works article {
  display: inline-block;
  min-width: 150px;
  padding: 0;
  margin: 0.5em 0.2em;
  background-color: rgba(11, 11, 11, 0.2);
}
#works article:hover {
  background-color: rgba(11, 11, 11, 0.6);
  -moz-transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.works-image img {
  width: 100%;
  height: auto;
}
.works-description {
  font-size: 0.8em;
  line-height: 1.5em;
}
.works-description img {
  opacity: 0.7; 
}
.works-description img:hover {
  opacity: 1;
}
/* Contact *****************************************************  */

#contact {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
#contact li {
  display: inline-block;
}
#contact li a {
  text-decoration: none;
  color: #fff;
  font-size: 3em;
  padding: 0.2em;
}
#contact li span {
  display: none;
}
/* Copyright *****************************************************  */

#legal {
  padding: 1em 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
#copyright {
  color: #ccc;
  font-weight: bold;
}

/* Media *****************************************************  */

@media screen and (max-width: 720px) {
  /*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
  
  #me, #presentation {
    display: block;
    text-align: center;
  }
  #me img {
    width: 150px;
  }
}