@charset'UTF-8';
/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body, input, textarea {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8em;
	color: #888;
	font-weight: 300;
}
body {
	background-color: #252427;
	color: #fff;
	text-align: center;
}
#wrapper-page {
	max-width: 1280px;
	margin: 0 auto;
}
a {
	color: #b7e5ff;
	text-decoration: underline;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
a:hover {
	color: #1B75A6 !important;
}
a img {
	border: 0;
}
strong, b {
	font-weight: 600;
	color: #fafafa;
}
h1, h2 {
	color: #f5f5f5;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: inherit;
}
h1 {
	font-weight: 300;
}
h1 strong {
	font-weight: 700;
}
h2 {
	font-weight: 700;
	margin-bottom: 2em;
}
h3 {
	font-size: 1.5em;
	color: #ccc;
}
h4 {
	font-weight: 700;
}
em, i {
	font-style: italic;
}
/*One line space b/w paragraphs*/

p {
	margin-bottom: 1em;
}

#top, #works, #contact {
	padding-top: 4em !important;
}

/* Buttons */

.button {
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	border: 0;
	cursor: pointer;
	padding: 0.5em 0.8em;
	text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #61b8db;
	background-image: -moz-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: -webkit-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: -o-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: -ms-linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	background-image: linear-gradient(top, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.button:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.button:hover {
	background-color: #76cdf0;
	color: #fff !important;
}
.button:active {
	background-image: -moz-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: -webkit-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: -o-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: -ms-linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	background-image: linear-gradient(top, rgba(48, 141, 196, 1), rgba(77, 164, 199, 0));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255, 255, 255, 0.75);
	top: 1px;
}
.button-alt {
	background-color: #393939;
	background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: -ms-linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	background-image: linear-gradient(top, rgba(50, 50, 50, 0), rgba(45, 45, 45, 1));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
}
.button-alt:hover {
	background-color: #444;
}
.button-alt:active {
	background-image: -moz-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: -webkit-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: -o-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: -ms-linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	background-image: linear-gradient(top, rgba(45, 45, 45, 1), rgba(50, 50, 50, 0));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px -2px 1px 0px rgba(255, 255, 255, 0.2);
}
/* Nav *****************************************************        */

#nav {
	background-color: #282828;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	cursor: default;
}
#nav ul {
	margin-bottom: 0;
}
#nav li {
	display: inline-block;
}
#nav a {
	padding: 0.5em 1em;
	position: relative;
	display: block;
	text-decoration: none;
	font-weight: 700;
	color: #fff;
}
#nav a:hover {
	color: #fff !important;
}
#nav a.active:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -0.6em;
	left: 50%;
	margin-left: -0.75em;
	border-left: solid 0.75em transparent;
	border-right: solid 0.75em transparent;
	border-top: solid 0.6em #282828;
}
/* Top, presentation *****************************************************   */

body {
	background: #444349 url('../images/stardust.png') fixed repeat;
}
#top {
	padding: 3em 0;
}
#top div {
	vertical-align: middle;
}
#me {
	text-align: right;
}
#me img {
	margin: 0 auto 0 auto;
	border-radius: 100%;
	width: 100%;
	max-width: 300px;
}
#top h1 {
	font-size: 1.8em;
	margin-top: 0.35em;
	margin-bottom: 1em;
}
#top p {
	color: inherit;
	font-size: 1.2em;
	line-height: 1.75em;
}
#top p a {
	color: inherit;
}
#presentation {
	text-align: left;
}
#contact {} #contact footer {
	font-size: 0.9em;
}
/* Works *****************************************************  */

#works {
	padding: 2em 0;
	border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
#works article {
	display: inline-block;
	min-width: 150px;
	padding: 0;
	margin: 2em 0.2em;
	background-color: rgba(11, 11, 11, 0.2);
}
#works article:hover {
	background-color: rgba(11, 11, 11, 0.6);
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	-ms-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
.works-image img {
	max-width: 100%;
	max-height: auto;
}
.works-description {
	font-size: 0.8em;
	line-height: 1.5em;
}
/* Contact *****************************************************  */

#contact {
	border-top: 1px dashed rgba(255, 255, 255, 0.3);
	padding: 2em 0;
}
#contact li {
	display: inline-block;
}
#contact li a {
	text-decoration: none;
	color: #fff;
	font-size: 3em;
	padding: 0.2em;
}
#contact li span {
	display: none;
}
/* Copyright *****************************************************  */

#legal {
	padding: 1em 0;
	border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
#copyright {
	color: #ccc;
	font-weight: bold;
}
#copyright a {
	color: inherit;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
#copyright a:hover {
	color: #777;
}
/* Debug *****************************************************  */
