a,
article,
body,
div,
footer,
h1,
h2,
h3,
h4,
header,
html,
img,
li,
nav,
p,
section,
span,
strong,
ul {
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

@media (min-width:40em) {
  [class*=col__] {
    display: inline-block;
    padding: 0 .75em;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .col__20 {
    width: 20%;
  }

  .col__30 {
    width: 30%;
  }

  .col__50 {
    width: 50%;
  }

  .col__80 {
    width: 80%;
  }
}

body {
  font-family: 'Open Sans',sans-serif;
  line-height: 1.8em;
  color: #888;
  font-weight: 300;
}

body {
  color: #fff;
  text-align: center;
}

#wrapper-page {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: #b7e5ff;
  text-decoration: underline;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

a:hover {
  color: #1B75A6!important;
}

a img {
  border: 0;
}

strong {
  font-weight: 600;
  color: #fafafa;
}

h1,
h2 {
  color: #f5f5f5;
}

h4 a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 300;
}

h1 strong {
  font-weight: 700;
}

h2 {
  font-weight: 700;
  margin-bottom: 2em;
}

h3 {
  font-size: 1.5em;
  color: #ccc;
}

h4 {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

#contact,
#top,
#works {
  padding-top: 4em!important;
}

.button {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  padding: .5em .8em;
  text-shadow: -1px -1px .5px rgba(0,0,0,.5);
  overflow: hidden;
  background: #61b8db;
  background-image: -moz-linear-gradient(top,rgba(97,184,219,0),rgba(48,141,196,1));
  background-image: -webkit-linear-gradient(top,rgba(97,184,219,0),rgba(48,141,196,1));
  background-image: -o-linear-gradient(top,rgba(97,184,219,0),rgba(48,141,196,1));
  background-image: -ms-linear-gradient(top,rgba(97,184,219,0),rgba(48,141,196,1));
  background-image: linear-gradient(top,rgba(97,184,219,0),rgba(48,141,196,1));
  box-shadow: inset 0 0 0 1px #135c86,inset 0 2px 1px 0 rgba(255,255,255,.75);
  -moz-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.button:hover {
  background-color: #76cdf0;
  color: #fff!important;
}

.button:active {
  background-image: -moz-linear-gradient(top,rgba(48,141,196,1),rgba(77,164,199,0));
  background-image: -webkit-linear-gradient(top,rgba(48,141,196,1),rgba(77,164,199,0));
  background-image: -o-linear-gradient(top,rgba(48,141,196,1),rgba(77,164,199,0));
  background-image: -ms-linear-gradient(top,rgba(48,141,196,1),rgba(77,164,199,0));
  background-image: linear-gradient(top,rgba(48,141,196,1),rgba(77,164,199,0));
  box-shadow: inset 0 0 0 1px #135c86,inset 0 -2px 1px 0 rgba(255,255,255,.75);
  top: 1px;
}

#nav {
  background-color: #282828;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  cursor: default;
}

#nav ul {
  margin-bottom: 0;
}

#nav li {
  display: inline-block;
}

#nav a {
  padding: .5em 1em;
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

#nav a:hover {
  color: #fff!important;
}

body {
  background: url(../images/stardust.png) fixed #444349;
}

#top {
  padding: 3em 0;
}

#top div {
  vertical-align: middle;
}

#me {
  text-align: right;
}

#me img {
  margin: 0 auto;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

#top h1 {
  font-size: 1.8em;
  margin-top: .35em;
  margin-bottom: 1em;
}

#top p {
  color: inherit;
  font-size: 1.2em;
  line-height: 1.75em;
}

#presentation {
  text-align: left;
}

#works {
  padding: 2em 0;
  border-top: 1px dashed rgba(255,255,255,.3);
}

#works article {
  display: inline-block;
  min-width: 150px;
  padding: 0;
  margin: 2em .2em;
  background-color: rgba(11,11,11,.2);
}

#works article:hover {
  background-color: rgba(11,11,11,.6);
  -moz-transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.works-image img {
  width: 100%;
  height: auto;
}

.works-description {
  font-size: .8em;
  line-height: 1.5em;
}

#contact {
  border-top: 1px dashed rgba(255,255,255,.3);
  padding: 2em 0;
}

#contact li {
  display: inline-block;
}

#contact li a {
  text-decoration: none;
  color: #fff;
  font-size: 3em;
  padding: .2em;
}

#contact li span {
  display: none;
}

#legal {
  padding: 1em 0;
  border-top: 1px dashed rgba(255,255,255,.3);
}

#copyright {
  color: #ccc;
  font-weight: 700;
}
