<!-- MAIN MENU -->
<nav class="site-menu pure-menu pure-menu-horizontal">
  <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link">{{ site.title }}</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a class="pure-menu-link" href="/#about">About</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="/#projects">Projects</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="/blog/#posts">Blog</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="/#contact">Contact</a></li>
  </ul>
</nav>