<header>
  <nav class="site-menu pure-menu pure-menu-horizontal">
    <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link">{{ site.title }}</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="#about">About</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="#projects">Projects</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/blog/">Blog</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="#contact">Contact</a></li>
    </ul>

    <!-- <ul class="pure-menu-list">
      <li class="pure-menu-item"><a {% if page.url == '/about/' %}class="pure-menu-link" {% endif %}href="/about/">About</a></li>
      <li class="pure-menu-item"><a {% if page.url == '/projects/' %}class="pure-menu-link" {% endif %}href="/projects/">Projects</a></li>
      <li class="pure-menu-item"><a {% if page.url == '/blog/' %}class="pure-menu-link" {% endif %}href="/blog/">Blog</a></li>
      <li class="pure-menu-item"><a {% if page.url == '/contact/' %}class="pure-menu-link" {% endif %}href="/contact/">Contact</a></li>
    </ul> -->
  </nav>
  <h1 class="site-title">
  <a href="{{ site.baseurl }}/">Rubén Martínez Vilar</a>
  </h1>
  <img class="me" src="{{ site.baseurl }}/img/me.jpg">
</header>