<!-- PRESENTATION -->
<article class="presentation">
<h1 class="site-title">
<a href="{{ site.baseurl }}/">Rubén Martínez Vilar</a>
</h1>
<img class="me" src="{{ site.baseurl }}/img/me.jpg">
<!-- SECTIONS -->
<section>
  <p class="presentation-text">I'm a human from the Milky Way Galaxy and I spend my days on planet Earth creating multimedia stuff. Check it out!</p>
  <nav>
    <ul class="pure-g">
      <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
        <div class="presentation-box">
          <a href="/#about">About me</a>
        </div>
      </li>
      <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
        <div class="presentation-box">
          <a href="/#projects">Projects</a>
        </div>
      </li>
      <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
        <div class="presentation-box">
          <a href="/blog/#posts">Blog</a>
        </div>
      </li>
      <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
        <div class="presentation-box">
          <a href="/#contact">Contact me</a>
        </div>
      </li>
    </ul>
  </nav>
</section>
